body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6E6; /* Светло-серый фон */
    color: #333; /* Темно-серый текст */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #FFF; /* Белый контейнер */
    border: 1px solid #CCC; /* Серая рамка */
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #800000; /* Theatre Red */
    margin-bottom: 20px;
    font-size: 24px;
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
    resize: vertical;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #800000; /* Theatre Red */
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #A90308; /* Slightly lighter red */
}

#message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.success {
    background-color: #DFF2BF;
    color: #4F8A10;
    border: 1px solid #A5D6A7;
}

.error {
    background-color: #FFBABA;
    color: #D8000C;
    border: 1px solid #EF9A9A;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
}

.contact-info a {
    color: #800000; /* Theatre Red */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Dark Theme */
body.dark-theme {
    background-color: #333;
    color: #EEE;
}

body.dark-theme .container {
    background-color: #444;
    border-color: #555;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark-theme h1 {
    color: #CD5C5C; /* Indian Red */
}

body.dark-theme textarea,
body.dark-theme input {
    background-color: #555;
    color: #EEE;
    border-color: #666;
}

body.dark-theme button {
    background-color: #CD5C5C; /* Indian Red */
}

body.dark-theme button:hover {
    background-color: #E57373;
}

body.dark-theme .contact-info {
    color: #AAA;
}

/* Theme Toggle */
.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.theme-toggle button {
    background-color: #CD5C5C; /* Indian Red */
    color: #FFF;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.theme-toggle button:hover {
    background-color: #E57373;
}
